

<link rel="stylesheet" type="text/css" href="//cdn.sstatic.net/christianity/all.css?v=d419fa438ebb">
<STYLE type='text/css'>
#content {
	overflow: initial;
}

td { 
	padding: 5px;
}

td.reference { 
	width: 20%;
	vertical-align: top;
}
td.title {width: 80%;}

</STYLE>

<script>
	var refTagger = {
		settings: {
			bibleVersion: "ESV"
		}
	};
	(function(d, t) {
		var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
		g.src = "//api.reftagger.com/v2/RefTagger.js";
		s.parentNode.insertBefore(g, s);
	}(document, "script"));
</script>

<SCRIPT type='text/javascript'>
</SCRIPT>

<DIV id='container'>
	<DIV id='header'>
		<FORM method='GET' action='/passages/'>
			<!-- Note: Calls /search?passage=entered_reference is handled in urls.py-->
			<LABEL for="filter_range">Limit Results to </LABEL>
			<INPUT id='filter_range' name='filter_range' type='text' placeholder='search' value='{% if filter_range %}{{filter_range}}{% endif %}' />
			<INPUT type='submit' />
		</FORM>

		<div class="pagination">
		    <span class="step-links">
		        {% if found_references_list.has_previous %}
		            <a href="?{% if filter_range %}filter_range={{filter_range}}&{% endif %}page={{ found_references_list.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ found_references_list.number }} of {{ found_references_list.paginator.num_pages }}
		        </span>

		        {% if found_references_list.has_next %}
		            <a href="?{% if filter_range %}filter_range={{filter_range}}&{% endif %}page={{ found_references_list.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>

	</DIV>


	<DIV id='content'>
	{% if found_references_list %}

		<TABLE>
			{% for found_ref in found_references_list %}
				<TR class="{%if found_ref.sepost.score > 0 %}positive{% elif found_ref.sepost.score == 0 %}zero{% else %}negative{% endif %} {%if found_ref.sepost.qa == 'q' %}question{% else %}answer{% endif %}">

					{% autoescape off %}
					<TD class='reference'>
						<strong>
							{{found_ref.reference}}
						</strong>
						
						<br />

						<span class='vote-count-pass'>
							{%if found_ref.sepost.score > 0 %}+{% endif %}{{found_ref.sepost.score}}
						</span>

						<div class="started">
							{% if found_ref.sepost.qa == "q" %}question from {% else %}answer by{% endif %} 
							{{found_ref.sepost.owner}}
						</div>
						
					</TD>

					<TD class='title'>
						<div class="summary">
							<h3>
								<a class='question-hyperlink tooltip' onhover='popup(this)' href="{{found_ref.sepost.se_link}}">
									{{found_ref.sepost.posttitle}}
								</a>
							</h3>
							<div class="excerpt">
								{{found_ref.preview_snippet}}
							</div>
						</div>

					</TD>
					{% endautoescape %}

				</TR>

			{% endfor %}
		</TABLE>
	{% else %}
		<p>The Concordance is currently empty!</p>
	{% endif %}


		<a href="http://biblia.com/"><img src="http://api.biblia.com/PoweredByBiblia.png" alt="Powered by Biblia" /></a>
This site uses the <a href="http://biblia.com/">Biblia</a> web services from <a href="http://www.logos.com/">Logos Bible Software</a>.
	</DIV>
	
</DIV>